/*

Kirby Starterkit

Author: Bastian Allgeier / Sascha Lack
URL:    http://getkirby.com
Email:  support@getkirby.com

*/

/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

input, button, textarea {
  -webkit-appearance:none;
}

/* Pix
-------------------------------------------------- */
img {
  display: block;
  max-width: 100%;
}


/* Links
-------------------------------------------------- */
a {
  border-bottom: 1px solid transparent;
  color: #484c55;
  text-decoration: none;
  transition: color .3s, border .3s;
}
a:hover {
  color: #c69;
  border-bottom-color: #c69;
}


/* Clearfix
-------------------------------------------------- */
.cf:after {
  content: "";
  display: table;
  clear: both;
}


/* Site
-------------------------------------------------- */
html {
  height: 100%;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.5em;
  padding: 1em;
  max-width: 50em;
  background: #f2ece4;
  color: #484c55;
}


/* Header
-------------------------------------------------- */
.l-header {
  margin-bottom: 1.5em;
  position: relative;
}
.logo {
  border-bottom: 0;
  display: block;
  margin-bottom: 1.5em;
}
.logo:hover {
  border-bottom: 0;
}
.logo img {
  width: 180px;
  margin-left: -10px;
}


/* Navigation
-------------------------------------------------- */
.menu__link {
  display: block;
  color: #222;
}
.menu__link a:hover {
  color: #c69;
  text-decoration: none;
}
.menu__link .active {
  color: #b37399;
}
.menu__item {
  list-style: none;
}
.menu__list > li {
  position: relative;
}
.menu__list > li > a {
  padding: .35em 0;
  border-bottom: 1px solid #ddd;
  font-weight: 600;
}

@media screen and (min-width: 40em) {
  body {
    padding: 1.5em 3em;
  }
  .logo {
    float: left;
  }
  .menu {
    bottom: 1em;
    position: absolute;
    right: 0;
  }
  .menu__item {
    float: right;
    margin-right: -1em;
  }
  .menu__list > li {
    float: left;
  }
  .menu__list > li > a {
    padding: .35em 1em;
    border: 0;
  }
  .menu__list > li:hover .submenu {
    display: block;
  }
}


/* Headings
-------------------------------------------------- */
h1 {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: 700;
  margin-bottom: .5em;
}
h2 {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: 700;
  margin-bottom: .5em;
  color: #b37399;
}
h3 {
  font-size: 1.4em;
  line-height: 1.5em;
  font-weight: 700;
  margin-bottom: .5em;
}
h4 {
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: .5em;
  color: #b37399;
}
h1 a, h2 a, h3 a, h4 a {
  color: inherit;
  border: 0 !important;
}



/* Main
-------------------------------------------------- */
.main {
  padding-bottom: 1.5em;
  border-bottom: 2px solid #b37399;
}
.main h1 {
  color: #b37399;
}
.main hr {
  margin: 3em 0;
  height: 2px;
  background: #ddd;
}
.main p,
.main figure,
.main ul,
.main ol {
  margin-bottom: 1.5em;
}

/* Text blocks */
.text ul,
.text ol {
  margin-left: 1em;
}

/* Project meta
-------------------------------------------------- */
.meta {
  margin-bottom: 1.5em;
}
.meta li {
  float: left;
  list-style: none;
  margin-right: 2em;
  color: #b37399;
}



/* Project teaser
-------------------------------------------------- */
.archive__list {
  clear: both;
  list-style: none;
}
.archive__list:after {
  content: "";
  display: table;
  clear: both;
}
.archive__item {
  margin-bottom: 1.5em;
  list-style: none;
}
.archive__item:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 50em) {
  .archive__item {
    float: left;
    width: 47.5%;
    margin-left: 5%;
  }
  .archive__item:nth-of-type(2n+1) {
    clear: left;
    margin-left: 0;
  }
}



/* Footer
-------------------------------------------------- */
.footer {
  padding: 1em 0 0em;
  font-size: .8em;
}
.copyright {
  float: left;
}
.colophon {
  float: right;
}
.colophon a {
  color: #b37399;
  padding-left: .25em;
}


.curator {
  clear: both;
  text-align: center;
}


.signup form {
  width: 80%;
  margin: 0 auto;
}
.contactform-input,
.signup .email {
  background-color: #fff;
  border-radius: 4px;
  font-size: 16px;
  padding: 0.6em 1em;
  width: 100%;
}
.contactform-input {
  margin-bottom: 1em;
}
.signup {
  background-color: #e1d7d2;
  border-radius: 4px;
  margin-bottom: 1.5em;
  padding: 2em 0;
}
.archive__content li,
.archive__item li,
.latest__item li {
  list-style-type: none;
  margin-bottom: .25em;
}

.archive__title {
  border-bottom: 1px solid #b37399;
}

.latest h2 {
  text-align: center;
}

.contactform-button,
.signup .button {
  background-color: #fff;
  border-radius: 4px;
  color: #484c55;
  display: block;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  font-size: 16px;
  padding: 0.5em 1em;
  clear: both;
  width: 100%;
  cursor: pointer;
  transition: background-color .3s, color .3s;
}
.contactform-button:hover,
.signup .button:hover {
  color: #fff;
  background-color: #C69;
}

.mc-field-group {
  margin-bottom: 1em;
  width: 100%;
}
.pagination {
  clear: both;
  float: left;
  margin-bottom: 1em;
  width: 100%;
}
.prev {
  margin-left: 1em;
}

@media (min-width: 500px){
  body {
    padding: 1.5em;
  }
  .latest__item {
    margin: 0 auto;
    max-width: 80%;
  }
  .contactform-button,
  .signup .button {
    clear: none;
    width: 30%;
  }
  .contactform-button {
    float: right;
  }
  .mc-field-group {
    float: left;
    margin-bottom: 0;
    width: 70%;
  }
  .signup .email {
    width: 95%;
  }
  .contactform-label {
    float: left;
    width: 10%;
    padding: 0.5em 0;
    text-align: center;
  }
  .contactform-input {
    width: 70%;
  }
  .prev {
    float: right;
    margin-left: 0;
  }
  .l-header {
    border-bottom: 2px solid #b37399;
  }
  .main {
    padding-bottom: 2em;
  }
}

.archive__item {
  background-color: #E1D7D2;
  border-radius: 4px;
  padding: 1em 1em;
}
